.dc-doc-page__title {
    margin-bottom: 24px;
}

.yfm h1, .yfm h2, .yfm h3, .yfm h4, .yfm h5, .yfm h6 {
    margin-bottom: 24px;
    font-weight: 500;
}

@media screen and (min-width: 1280px){
    .dc-doc-layout__toc {
        width: 320px !important;
    }
    .dc-doc-layout__left{
        width: 342px !important;
    }
}

blockquote:first-of-type {
    background: rgba(2, 123, 243, 0.03);
    padding-top: 15px;
    padding-bottom: 15px;
}

.yfm table td p:not(:first-child) {
    margin-top: 15px;
}

.pt {
    padding-top: 15px;
}

.b24-info {
    border-radius: 10px;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(2, 123, 243, 0.03);
}

.b24-info::before
{
    box-sizing: content-box;
    display: block;
    width: 24px;
    height: 24px;
    margin-top: -2px;
    padding-right: 10px;
    float: left;
    content: url("data:image/svg+xml,%3Csvg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"24\" viewBox=\"0 0 16 16\"%3E%3Ccircle cx=\"8\" cy=\"8\" r=\"8\" fill=\"rgb%282,123,243%29\"/%3E%3Crect width=\"1\" height=\"5\" x=\"7.5\" y=\"6.5\" stroke=\"%23fff\" rx=\".5\"/%3E%3Ccircle cx=\"8\" cy=\"4\" r=\"1\" fill=\"%23fff\"/%3E%3C/svg%3E");
}

.yfm table thead, .yfm table tr:nth-child(2n) {
    background: var(--g-color-base-background)!important;
}

.dc-doc-page .yfm table thead, .dc-doc-page .yfm table tr:nth-child(odd) {
    background: var(--g-color-base-generic)!important
}

/*
.dc-doc-page .yfm table {
    color: var(--g-color-text-primary);
    border-color: var(--g-color-line-generic);
    background: var(--g-color-base-background);
}
*/

/*.pc-title-item_reset-margin {*/
/*    margin-top: 48px;*/
/*}*/

.mermaid {
    padding-top: 24px;
    padding-bottom: 24px
}

.large-list li {
    padding-bottom: 10px;
}

.g-root_theme_dark .search-results-container {
    background-color: rgb(45, 44, 51) !important;
}
.g-root_theme_dark .search-results-container div a {
    color: white !important;
}
.g-root_theme_dark .search-results-container div div a,
.g-root_theme_dark .search-results-container div div span {
    color: gray !important;
}

.pc-page-constructor .dc-doc-layout__toc {
    font-feature-settings: unset !important;
}

.yfm_constructor.yfm_constructor li {
    margin: 0 0 4px
}

.row .pc-links_size_s {
    margin-top: auto
}
.row .pc-content__text {
    margin-bottom: 16px;
}

.card-layout-block-full-width-text .col-sm-8 {
    flex: 0 0 100%;
    max-width: 100%;
}

.col.col-12.col-md-8.pc-tabs-block-text-content {
    flex: 0 0 100%;
    max-width: 100%;
}

.col.col-12.col-md-8.pc-content-layout-block__content {
    flex: 0 0 100%;
    max-width: 100%;
}

.col.col-12.col-sm-8.col-reset {
    flex: 0 0 100%;
    max-width: 100%;
}

.content-layout-block-custom-link .pc-link-block__link.pc-link-block__link_theme_light.pc-link-block__link_has-arrow{
    color: var(--g-color-text-link);
}
.col.col-12.col-md-6.pc-layout-item.pc-layout-item__content_margin_m {
    margin-right: 0 !important;
}
.pc-layout-item__content_margin_m {
    margin-right: 0 !important;
}
.pc-image-card .pc-image-card__image_margins_m .pc-image-card__image_inner {
    width: 50%;
}